<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/fonts.css" />
    <link rel="stylesheet" href="/static/highlight.css" />
    <link rel="stylesheet" href="/static/base.css" />
    <link rel="stylesheet" href="/static/homepage.css" />
  </head>
  <body>
    <h1>{{ title }}</h1>
    {{ content }}
  </body>
</html>
