h1 {
  margin-bottom: 5px; /* Moves date closer to title */
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto .5em;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  opacity: 0.8;
  width: 100%;
}

#nav-previous {
  justify-self: start;
}

#nav-home {
  justify-self: center;
}

#nav-next {
  justify-self: end;
}
