<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/highlight.css" />
    <link rel="stylesheet" href="/css/callouts.css" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/post.css" />
  </head>
  <body>
    <nav>
      <a id="nav-previous"></a>
      <a href="/" id="nav-home">Home</a>
      <a id="nav-next"></a>
    </nav>
    <hr />
    <h1>{{ title }}</h1>
    {{ content }}
  </body>
</html>
