{{ define "main" }}

    <div class="homepage-content">
    <article class="post-list">
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        <div class="content">
            {{ .Content }}
        </div>
        {{ partial "articleInfoFull.html" . }}
    </article>
    <div class="homepage-addendum">
        {{ .Params.addendum | markdownify }}
    </div>
    {{ if .Site.DisqusShortname }}
        {{ template "_internal/disqus.html" . }}
    {{ end }}
    </div>

{{ end }}
