{{ define "main" }}

    <div class="homepage-content">
    <article class="post-list">
        <header>
          <h1 id="text-title">{{ .Params.fullname }}</h1>
          <img id="flaming-title" class="flaming-text" src="{{ .Site.Params.assets_bucket_url }}/name-flaming.gif" />
        </header>
        <div class="content">
            {{ .Content }}
        </div>
        {{ partial "articleInfoFull.html" . }}
    </article>
    <div class="homepage-addendum">
        {{ .Params.addendum | markdownify }}
    </div>
    {{ if .Site.Config.Services.Disqus.Shortname }}
        {{ template "_internal/disqus.html" . }}
    {{ end }}
    </div>

{{ $script := resources.Get "js/index.js" | minify | fingerprint }}
<script src="{{ $script.RelPermalink }}"></script>

{{ end }}
